<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Klipper_Calibration_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Klipper_Calibration_Tool.Properties.Settings>
            <setting name="Rod" serializeAs="String">
                <value />
            </setting>
            <setting name="Radius" serializeAs="String">
                <value />
            </setting>
            <setting name="EndX" serializeAs="String">
                <value />
            </setting>
            <setting name="EndY" serializeAs="String">
                <value />
            </setting>
            <setting name="EndZ" serializeAs="String">
                <value />
            </setting>
            <setting name="AngleX" serializeAs="String">
                <value />
            </setting>
            <setting name="AngleY" serializeAs="String">
                <value />
            </setting>
            <setting name="AngleZ" serializeAs="String">
                <value />
            </setting>
            <setting name="ProbeZ" serializeAs="String">
                <value />
            </setting>
            <setting name="MoveHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintRadius" serializeAs="String">
                <value>100</value>
            </setting>
        </Klipper_Calibration_Tool.Properties.Settings>
    </userSettings>
</configuration>